* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: black; */
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(0, 49, 4) 50%,
    rgb(0, 0, 0) 100%
  );
  background-repeat: inherit;
  color: white;
}

/* .nav-cone {
  display: flex;
} */

.logo {
  align-self: center;
  max-width: 100%;
  /* border: 1px solid orange; */
  padding-bottom: 0.3rem;
}

.logo-container {
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

.container {
  border: 1px solid rgb(44, 44, 44);
  padding-top: 2rem;
  margin-top: 5rem;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
  background: black;
  /* filter: blur(1.5rem); */
}

.nav-container {
  background-color: #181a1b;
  border-bottom: 0.1em solid rgb(63, 63, 63);
  position: fixed;
  top: 0;
  width: 100%;
}

.img-nav {
  display: flex;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  /* border: 2px solid orange; */
  vertical-align: middle;
}

.social {
  display: flex;
  /* border: 3px solid pink; */
}

.socialcode-ul {
  list-style-type: none;
  /* border: 1px solid orange; */
  display: flex;
}

nav {
  /* background-color: #181a1b; */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1em; */
  width: 65%;
  margin: 0 auto;
}

.nav-link-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  /* margin-top: 0.4em; */
  /* margin-left: 3em; */
}

.nav-link {
  vertical-align: middle;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.nav-link:hover {
  vertical-align: middle;
  padding-right: 2em;
  padding-left: 2em;
  background-color: black;
}

nav a:link,
a:visited {
  color: rgb(177, 177, 177);
  font-family: "Rubik", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 0.9vw;
}

nav a:hover {
  color: rgb(0, 202, 27);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.graphic-design {
  margin-top: 10em;
}

.section-web-development {
  display: flex;
}

.lazeez-panel,
.al-faisaliyyah-panel {
  margin: 1rem auto;
  border: 0.1rem solid rgb(63, 63, 63);
  width: 30%;
  border-radius: 0.4rem;
  padding: 3px;
}

.lazeez-panel:hover {
  box-shadow: 0 0 2rem green;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.panel p {
  /* margin: 1em; */
  display: flex;
  flex-flow: column;
}

.gray-bottom {
  background-color: rgb(44, 44, 44);
  padding: 0.3rem;
  border-bottom-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.section-title {
  /* background-color: #141414; */
  font-family: "Bebas Neue";
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3rem;
  margin-top: 2rem;
}

.panel-info {
  font-family: "Rubik";
  text-align: left;
  padding: 1em;
}

.panel-info-developed {
  font-family: "Rubik";
  text-align: left;
  padding: 1em;
  color: rgb(221, 162, 0);
}

.panel-title {
  /* border: 1px solid red; */
  background-color: green;
  font-family: "Rubik";
  font-size: 1.7rem;
  text-align: center;
  padding: 0.3em;
  border-top-left-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

.gray-bottom a,
a:active,
a:visited {
  /* border: 1px solid red; */
  color: white;
  font-family: "Rubik";
  font-size: 1.3em;
  /* font-weight: bold; */
  text-decoration: none;
  text-transform: uppercase;
}

.gray-bottom a:hover {
  color: rgb(0, 212, 0);
  /* font-weight: 900; */
}

.panel-link-view {
  /* border: 1px solid green; */
  display: inline-block;
  padding: 1em;
}

.lazeez-preview {
  max-width: 100%;
  max-height: 100%;
}

.github-icon,
.linkedin-icon,
.twitter-icon {
  vertical-align: middle;
  margin: 0 1rem;
  max-width: 50%;
  background-color: white;
  align-self: center;
}

.github-icon:hover,
.linkedin-icon:hover,
.twitter-icon:hover {
  vertical-align: middle;
  margin: 0 1rem;
  max-width: 50%;
  background-color: rgb(0, 212, 0);
  align-self: center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

footer {
  text-align: center;
  background-color: #181a1b;
  padding: 2rem;
  margin-top: 2rem;
}

.copyright {
  font-family: "Rubik";
  letter-spacing: 0.09rem;
}

.about {
  font-family: "Rubik";
  font-size: 1.4rem;
  /* border: 1px solid rgb(0, 212, 0); */
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.about-profile {
  display: flex;
  margin: 0em 10em;
}

.profilepic {
  display: block;
  max-width: 20%;
  max-height: 20%;
}

.about-bg {
  background-image: url("images/bg2.png");
}

.contact-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 80rem;
}

.input-box {
  background-color: black;
  border: 0.1rem solid rgb(63, 63, 63);
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 0.8em;
  outline: none;
}

textarea {
  background-color: black;
  resize: none;
  border: 0.1rem solid rgb(63, 63, 63);
  font-family: "Rubik";
  color: white;
  border-radius: 0.5em;
  margin-bottom: 1em;
  font-size: 1em;
  padding: 0.8em;
  outline: none;
  height: 10em;
  font-family: "Rubik";
}

textarea::placeholder,
.input-box::placeholder {
  color: rgb(194, 255, 194);
  font-family: "Rubik";
  font-size: 1em;
}

textarea:hover,
.input-box:hover {
  border: 0.1rem solid green;
  box-shadow: 0 0 1rem green;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

textarea:focus,
.input-box:focus {
  background-color: rgb(0, 66, 0);
  border: 0.1rem solid green;
  box-shadow: 0 0 1rem green;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.submit-button {
  background-color: green;
  border: 0.1rem solid rgb(135, 216, 135);
  font-family: "Rubik";
  font-size: 2rem;
  color: rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 0.2em;
}

.submit-button:hover {
  background-color: rgb(0, 173, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem green;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
}

.submit-button:focus {
  background-color: rgb(0, 173, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 1rem green;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  cursor: pointer;
}

/*MOBILE*/
@media only screen and (max-width: 400px) {
  .container {
    border: 0px solid rgb(44, 44, 44);
    padding-top: 2rem;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: black;
  }

  .logo {
    align-self: center;
    max-width: 100%;
    padding-bottom: 0.3rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .img-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .social {
    display: flex;
  }

  .socialcode-ul {
    margin-bottom: 1rem;
    list-style-type: none;
    display: flex;
  }

  nav {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .nav-link-ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  .nav-link {
    vertical-align: middle;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .nav-link:hover {
    vertical-align: middle;
    padding-right: 2em;
    padding-left: 2em;
    background-color: black;
  }

  nav a:link,
  a:visited {
    color: rgb(177, 177, 177);
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 4vw;
  }

  .nav-container {
    background-color: #181a1b;
    border-bottom: 0.1em solid rgb(63, 63, 63);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  nav a:hover {
    color: rgb(0, 202, 27);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }

  .section-title {
    font-family: "Bebas Neue";
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 0.1rem;
  }

  .about-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  .profilepic {
    margin-top: 1rem;
    display: block;
    max-width: 450%;
    max-height: 450%;
  }

  .about {
    width: 97%;
    order: 1;
  }

  .about-intro {
    font-family: "Rubik";
    font-size: 1rem;
    width: 100%;
  }

  .lazeez-panel,
  .al-faisaliyyah-panel {
    margin: 1rem auto;
    border: 0.1rem solid rgb(63, 63, 63);
    width: 90%;
    border-radius: 0.4rem;
    padding: 3px;
  }

  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
  .container {
    border: 0px solid rgb(44, 44, 44);
    padding-top: 2rem;
    margin-top: 12rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    background: black;
  }

  .logo {
    align-self: center;
    max-width: 100%;
    padding-bottom: 0.3rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .img-nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .social {
    display: flex;
  }

  .socialcode-ul {
    margin-bottom: 1rem;
    list-style-type: none;

    display: flex;
  }

  nav {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
  }

  .nav-link-ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  .nav-link {
    vertical-align: middle;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .nav-link:hover {
    vertical-align: middle;
    padding-right: 2em;
    padding-left: 2em;
    background-color: black;
  }

  nav a:link,
  a:visited {
    color: rgb(177, 177, 177);
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    text-decoration: none;
    font-size: 4vw;
  }

  .nav-container {
    background-color: #181a1b;
    border-bottom: 0.1em solid rgb(63, 63, 63);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  nav a:hover {
    color: rgb(0, 202, 27);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
  }

  .section-title {
    /* background-color: #141414; */
    font-family: "Bebas Neue";
    font-size: 10vw;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3rem;
    margin-top: 0.1rem;
  }

  .about-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }

  .profilepic {
    margin-top: 1rem;
    display: block;
    max-width: 450%;
    max-height: 450%;
  }

  .about {
    width: 97%;
    order: 1;
  }

  .about-intro {
    font-family: "Rubik";
    font-size: 1rem;
    width: 100%;
  }

  .lazeez-panel,
  .al-faisaliyyah-panel {
    margin: 1rem auto;
    border: 0.1rem solid rgb(63, 63, 63);
    width: 90%;
    border-radius: 0.4rem;
    padding: 3px;
  }

  .contact-wrapper {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
